.hero-image {
    background-image: url("images/harrison web banner.png");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 280px;
    width: 100%;
}
/* 26 mins in*/